//IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
//FONT VARIABLES
$display: 'DM Serif Display', serif;
$body: 'Karla', sans-serif;
//COLOR VARIABLES
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);
//MIXINS
@mixin btn {
    background-color: $darkViolet;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 1px solid #fff;
    padding: 4% 8%;
}
//STYLES
//global
body{
    max-width: 100vw;
    h1, h2, h3{
        font-family: $display;
    }
    p, a, h4, button{
        font-family: $body;
    }
}
//header
header{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .logo{
        grid-column: 1 / 3;
        padding: 20%;
    }
    .icon{
        grid-column: 4 / 5;
        justify-self: start;
        align-self: center;
        background-repeat: no-repeat;
        padding: 25%;
        background-size: 90%;
        border: none;
        outline: none;
        background-color: transparent;
        margin-left: 20%;
    }
    .closed{
        background-image: url(img/icon-hamburger.svg);
    }
    .open{
        background-image: url(img/icon-close.svg);
    }
    .main-nav{
        grid-column: 1 / 5;
        text-align: center;
        background-color: $darkViolet;
        text-transform: uppercase;
        letter-spacing: .1em;
        white-space: nowrap;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        max-height: 90vh;
        display: none;
        ul{
            padding-top: 25%;
        }
        li{
            padding: 4% 25%;
            margin: 4%;
            &:last-of-type{
                @include btn;
                margin: 5% 8%;
            }
        }
        a{
            color: #fff;
        }
        img{
            width: 100%;
            padding-top: 5vh;
        }
    }
}
////MAIN

// intro section
.intro{
    background-color: $darkViolet;
    .mobile-intro-image{
        width: 100vw;
    }
    div{
        width: 85%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        padding: 25% 0;
        position: relative;
        .decor-left{
            position: absolute;
            top: -3px;
            left: -10%;
            width: 60%;
        }
        .decor-right{
            position: absolute;
            width: 35%;
            right: -8%;
        }
        h1{
            font-size: 2.7em;
            margin-bottom: 6%;
            position: relative;
            z-index: 1;
        }
        p{
            line-height: 1.5em;
            margin-bottom: 9%;
        }
        button{
            @include btn;
        }
    }
}