//IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
//FONT VARIABLES
$display: 'DM Serif Display', serif;
$body: 'Karla', sans-serif;
//COLOR VARIABLES
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);
//MIXINS
@mixin btn {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 1px solid #fff;
    padding: 4% 8%;
}
@mixin center{
    width: 85%;
    text-align: center;
    margin: 0 auto;
}
//STYLES
//global
body{
    max-width: 100vw;
    h1, h2, h3{
        font-family: $display;
    }
    p, a, h4, button{
        font-family: $body;
    }
}
//header
header{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .logo{
        grid-column: 1 / 3;
        padding: 20%;
    }
    .icon{
        grid-column: 4 / 5;
        justify-self: start;
        align-self: center;
        background-repeat: no-repeat;
        padding: 25%;
        background-size: 90%;
        border: none;
        outline: none;
        background-color: transparent;
        margin-left: 20%;
    }
    .closed{
        background-image: url(img/icon-hamburger.svg);
    }
    .open{
        background-image: url(img/icon-close.svg);
    }
    .main-nav{
        grid-column: 1 / 5;
        text-align: center;
        background-color: $darkViolet;
        text-transform: uppercase;
        letter-spacing: .1em;
        white-space: nowrap;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        max-height: 90vh;
        display: none;
        ul{
            padding-top: 25%;
        }
        li{
            padding: 4% 25%;
            margin: 4%;
            &:last-of-type{
                @include btn;
                margin: 5% 8%;
            }
        }
        a{
            color: #fff;
        }
        img{
            width: 100%;
            padding-top: 5vh;
        }
        .bg-img-container-nav{
            position: relative;
            
            .bg-img-nav{
                background-image: url(img/bg-pattern-mobile-nav.svg);
                background-repeat: no-repeat;
                background-position: bottom;
                height: 35vh;
                background-size: 100%;
            }
        }
    }
}
////MAIN

// intro section
.intro{
    background-color: $darkViolet;
    .mobile-intro-image{
        width: 100vw;
    }
    div{
        margin: 0;
        color: #fff;
        padding: 25% 0;
        position: relative;
        top: -3px;
        background-image: url(img/bg-pattern-intro-left-mobile.svg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 60%;
        z-index: 100;
        h1{
            font-size: 2.5em;
            position: relative;
            @include center;
            margin-bottom: 6%;
        }
        p{
            line-height: 1.5em;
            color: $veryLightGray;
            @include center;
            margin-bottom: 9%;
        }
        button{
            @include btn;
            display: block;
            margin: 5% auto;
        }
    }
}
.bg-img-container{
    position: relative;
    .bg-img-intro{
    background-image: url(img/bg-pattern-intro-right-mobile.svg);
    width: 100%;
    height: 350px;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    top: -10em;
    }
}
.different{
    @include center;
    margin: 30% auto;
    .divider{
        border-top: 1px solid $darkGrayishViolet;
        width: 50%;
        margin: 0 auto;
        
    }
    h2{
        font-size: 2.5em;
        margin: 15% 0;
    }
    section{
        margin: 6% 0;
        display: inline-block;
    }
    h3{
        font-size: 1.5em;
        margin: 6% 0;
    }
    p{
        line-height: 1.5em;
        color: $darkGrayishViolet;
    }
    img{
        margin: 6% 0;
    }
}
.more{
    @include center;
    background-color: $darkViolet;
    color: #fff;
    padding: 20% 0;
    background-image: url(img/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    h2{
        font-size: 2.1em;
        padding: 0 10%;
    }
    button{
        @include btn;
        margin-top: 15%;
    }
}
footer{
    padding-bottom: 10%;
    @include center;
    margin-top: 30%;
    background-color: $veryLightGray;
    width: 100%;
    background-image: url(img/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    .top-footer{
        margin: 0 auto;
        width: 45%;
        padding: 20% 20% 10%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.185);
        img{
            padding: 3%;
        }
        div{
            margin-top: 15%;
        }
    }
    h4{
        color: $darkGrayishViolet;
        letter-spacing: .1em;
        margin: 7%;
    }
    .footer-links{
        display: flex;
        flex-flow: column;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.95em;
        
        a{
            margin: 2.5%;
            color: $darkViolet;
            font-size: .9em;
        }
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }